AUTHORS
api-ref/build/
build/*
build-stamp
ChangeLog
cover/
.coverage
covhtml/
dist/
doc/build
*.DS_Store
*.pyc
tacker.egg-info/
tacker/vcsversion.py
tacker/versioninfo
pbr*.egg/
run_tests.err.log
run_tests.log
setuptools*.egg/
subunit.log
.testrepository
.idea/
.tox/
.venv/
*.mo
*.sw?
*~
.eggs/
.stestr/
SP1_res.yaml

releasenotes/build
etc/tacker/tacker.conf.sample
doc/source/contributor/api
