include AUTHORS
include README.rst
include ChangeLog
include LICENSE
include tacker/db/migration/README
include tacker/db/migration/alembic.ini
include tacker/db/migration/alembic_migrations/script.py.mako
include tacker/db/migration/alembic_migrations/versions/README
recursive-include tacker/locale *

exclude .gitignore
exclude .gitreview

global-exclude *.pyc
