- hosts: all
  roles:
    - ensure-db-cli-installed
    - orchestrate-devstack
    - modify-heat-policy
    - setup-default-vim
    - role: bindep
      bindep_profile: test
      bindep_dir: "{{ zuul_work_dir }}"
    - ensure-tox
    - show-net-setup
