[Unit]
Description = OpenStack tacker service

[Service]
ExecReload = /bin/kill -HUP $MAINPID
TimeoutStopSec = 300
KillMode = process
WorkingDirectory = /tmp
ExecStart=/usr/local/bin/uwsgi --procname-prefix tacker-api --ini /etc/tacker/tacker-api-uwsgi.ini

[Install]
WantedBy = multi-user.target
